ETHERSCAN_API_KEY=

# hardhat
NETWORK=localhost
RPC_URL=http://127.0.0.1:8545
HARDHAT_ORACLE_1_KEY=0x
HARDHAT_ORACLE_2_KEY=0x
HARDHAT_ORACLE_3_KEY=0x

# sepolia
NETWORK=sepolia
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/
DEPLOYER_KEY=
ORACLE_1_KEY=
ORACLE_2_KEY=
ORACLE_3_KEY=
ORACLE_1_ADDRESS=0x
ORACLE_2_ADDRESS=0x
ORACLE_3_ADDRESS=0x